<!-- Start Content -->
<div class="content pb-0">

    <!-- Page Header -->
    <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 pb-3">
        <div class="flex-grow-1">
            <h4 class="fw-bold mb-0">Float Chart</h4>
        </div>
        <div class="text-end">
            <ol class="breadcrumb m-0 py-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                
                <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
                
                <li class="breadcrumb-item active">Float Chart</li>
            </ol>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- start row -->
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bar Chart</div>
                </div>
                <div class="card-body  chart-set">
                    <div class="h-250" id="flotBar1"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bar Chart</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotBar2"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Line Chart</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotLine1"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Line ChartPOints</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotLine2"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Area Chart</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotArea1"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Area Chart Points</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotArea2"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Pie Chart</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotPie1"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Donut Chart</div>
                </div>
                <div class="card-body chart-set">
                    <div class="h-250" id="flotPie2"></div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

    </div>
    <!-- end row -->

</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->