<!-- Start Content -->
<div class="content" id="profilePage">

    <!-- Page Header -->
    <div class="mb-3 border-bottom pb-3">
        <h4 class="fw-bold mb-0">Settings</h4>
    </div>
    <!-- End Page Header -->

    <div class="card">
        <div class="card-body p-0">
            <div class="settings-wrapper d-flex">

                <!-- Start Settings Sidebar -->
                <div class="sidebars settings-sidebar" id="sidebar2">
                    <div class="sidebar-inner" data-simplebar>
                        <div id="sidebar-menu5" class="sidebar-menu mt-0 p-0">
                            <ul>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-user-cog me-2"></i><span>Account Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="profile-settings">Profile</a></li>
                                        <li><a href="security-settings">Security</a></li>
                                        <li><a href="notifications-settings">Notifications</a></li>
                                        <li><a href="integrations-settings">Integrations</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="active">
                                        <i class="ti ti-world-cog me-2"></i><span>Website Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="organization-settings">Organization</a></li>
                                        <li><a href="localization-settings">Localization</a></li>
                                        <li><a href="prefixes-settings">Prefixes</a></li>
                                        <li><a href="seo-setup-settings">SEO Setup</a></li>
                                        <li><a href="language-settings" class="active">Language</a></li>
                                        <li><a href="maintenance-mode-settings">Maintenance Mode</a></li>
                                        <li><a href="login-and-register-settings">Login & Register</a></li>
                                        <li><a href="preferences-settings">Preferences</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-building-hospital me-2"></i><span>Clinic Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="appointment-settings">Appointment</a></li>
                                        <li><a href="working-hours-settings">Working Hours</a></li>
                                        <li><a href="cancellation-reason-settings">Cancellation Reason</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-device-mobile-cog me-2"></i><span>App Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="invoice-settings">Invoice Settings</a></li>
                                        <li><a href="invoice-templates-settings">Invoice Templates</a></li>
                                        <li><a href="signatures-settings">Signatures</a></li>
                                        <li><a href="custom-fields-settings">Custom Fields</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-device-desktop-cog me-2"></i><span>System Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="email-settings">Email Settings</a></li>
                                        <li><a href="email-templates-settings">Email Templates</a></li>
                                        <li><a href="sms-gateways-settings">SMS Gateways</a></li>
                                        <li><a href="sms-templates-settings">SMS Templates</a></li>
                                        <li><a href="gdpr-cookies-settings">GDPR Cookies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-settings-dollar me-2"></i><span>Finance & Accounts</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="payment-methods-settings">Payment Methods</a></li>
                                        <li><a href="bank-accounts-settings">Bank Accounts</a></li>
                                        <li><a href="tax-rates-settings">Tax Rates</a></li>
                                        <li><a href="currencies-settings">Currencies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-settings-2 me-2"></i><span>Other Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="sitemap-settings">Sitemap</a></li>
                                        <li><a href="clear-cache-settings">Clear Cache</a></li>
                                        <li><a href="storage-settings">Storage</a></li>
                                        <li><a href="cronjob-settings">Cronjob</a></li>
                                        <li><a href="ban-ip-address-settings">Ban IP Address</a></li>
                                        <li><a href="system-backup-settings">System Backup</a></li>
                                        <li><a href="database-backup-settings">Database Backup</a></li>
                                        <li><a href="system-update">System Update</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Settings Sidebar -->

                <div class="card flex-fill mb-0 border-0 bg-light-500 shadow-none">
                    <div class="card-header border-bottom px-0 mx-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="fw-bold">Language</h5>
                        <div class="d-flex align-items-center">
                            <div class="dropdown me-2">
                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                    <i class="isax isax-language-square me-1"></i>Language
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg p-2">
                                    <li>
                                        <label class="dropdown-item d-flex align-items-center rounded-1">
                                            English
                                        </label>
                                    </li>
                                    <li>
                                        <label class="dropdown-item d-flex align-items-center rounded-1">
                                            German
                                        </label>
                                    </li>
                                    <li>
                                        <label class="dropdown-item d-flex align-items-center rounded-1">
                                            Arabic
                                        </label>
                                    </li>
                                    <li>
                                        <label class="dropdown-item d-flex align-items-center rounded-1">
                                            French
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary d-inline-flex align-items-center"><i class="ti ti-plus me-1"></i>New Language</a>
                        </div>
                        </div>
                    </div>
                    <div class="card-body px-0 mx-3">

                        <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap gap-2">
                            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                                <div class="input-icon-start position-relative me-2">
                                    <input type="text" class="form-control form-control-sm ps-2 bg-white" placeholder="Search">                                      
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-outline-white d-inline-flex align-items-center"><i class="ti ti-download me-1"></i>Import Sample</a>
                        </div>

                        <!-- Start Table -->
                        <div class="custom-datatable-filter table-responsive border rounded mb-3">
                            <table class="table mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Module</th>
                                        <th>Total</th>
                                        <th>Done</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0);">Inventory</a>
                                        </td>
                                        <td>
                                            1620
                                        </td>
                                        <td>
                                            1296
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">Web</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">App</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white">Admin</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn btn-outline-white rounded btn-sm d-inline-flex align-items-center p-1 justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ti ti-dots-vertical"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_testimonial"><i class="isax isax-edit me-2"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_testimonials"><i class="isax isax-trash me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0);">Sales</a>
                                        </td>
                                        <td>
                                            1620
                                        </td>
                                        <td>
                                            972
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">Web</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">App</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white">Admin</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn btn-outline-white rounded btn-sm d-inline-flex align-items-center p-1 justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ti ti-dots-vertical"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_testimonial"><i class="isax isax-edit me-2"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_testimonials"><i class="isax isax-trash me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0);">Purchases</a>
                                        </td>
                                        <td>
                                            1620
                                        </td>
                                        <td>
                                            810
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">Web</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">App</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white">Admin</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn btn-outline-white rounded btn-sm d-inline-flex align-items-center p-1 justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ti ti-dots-vertical"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_testimonial"><i class="isax isax-edit me-2"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_testimonials"><i class="isax isax-trash me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0);">Finance & Accounts</a>
                                        </td>
                                        <td>
                                            1620
                                        </td>
                                        <td>
                                            324
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">Web</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white me-2">App</a>
                                                <a href="language-settings3" class="btn btn-sm btn-outline-white">Admin</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn btn-outline-white rounded btn-sm d-inline-flex align-items-center p-1 justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ti ti-dots-vertical"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end p-2">
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_testimonial"><i class="isax isax-edit me-2"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_testimonials"><i class="isax isax-trash me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->

                    </div>
                </div>
            </div>

        </div><!-- end card body -->
    </div><!-- end card -->
                    
</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->