<!-- Start Content -->
<div class="content" id="profilePage">

    <!-- Page Header -->
    <div class="mb-3 border-bottom pb-3">
        <h4 class="fw-bold mb-0">Settings</h4>
    </div>
    <!-- End Page Header -->

    <div class="card">
        <div class="card-body p-0">
            <div class="settings-wrapper d-flex">

                <!-- Start Settings Sidebar -->
                <div class="sidebars settings-sidebar" id="sidebar2">
                    <div class="sidebar-inner" data-simplebar>
                        <div id="sidebar-menu5" class="sidebar-menu mt-0 p-0">
                            <ul>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-user-cog me-2"></i><span>Account Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="profile-settings">Profile</a></li>
                                        <li><a href="security-settings">Security</a></li>
                                        <li><a href="notifications-settings">Notifications</a></li>
                                        <li><a href="integrations-settings">Integrations</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="active">
                                        <i class="ti ti-world-cog me-2"></i><span>Website Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="organization-settings">Organization</a></li>
                                        <li><a href="localization-settings">Localization</a></li>
                                        <li><a href="prefixes-settings" class="active">Prefixes</a></li>
                                        <li><a href="seo-setup-settings">SEO Setup</a></li>
                                        <li><a href="language-settings">Language</a></li>
                                        <li><a href="maintenance-mode-settings">Maintenance Mode</a></li>
                                        <li><a href="login-and-register-settings">Login & Register</a></li>
                                        <li><a href="preferences-settings">Preferences</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-building-hospital me-2"></i><span>Clinic Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="appointment-settings">Appointment</a></li>
                                        <li><a href="working-hours-settings">Working Hours</a></li>
                                        <li><a href="cancellation-reason-settings">Cancellation Reason</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-device-mobile-cog me-2"></i><span>App Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="invoice-settings">Invoice Settings</a></li>
                                        <li><a href="invoice-templates-settings">Invoice Templates</a></li>
                                        <li><a href="signatures-settings">Signatures</a></li>
                                        <li><a href="custom-fields-settings">Custom Fields</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-device-desktop-cog me-2"></i><span>System Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="email-settings">Email Settings</a></li>
                                        <li><a href="email-templates-settings">Email Templates</a></li>
                                        <li><a href="sms-gateways-settings">SMS Gateways</a></li>
                                        <li><a href="sms-templates-settings">SMS Templates</a></li>
                                        <li><a href="gdpr-cookies-settings">GDPR Cookies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-settings-dollar me-2"></i><span>Finance & Accounts</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="payment-methods-settings">Payment Methods</a></li>
                                        <li><a href="bank-accounts-settings">Bank Accounts</a></li>
                                        <li><a href="tax-rates-settings">Tax Rates</a></li>
                                        <li><a href="currencies-settings">Currencies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-settings-2 me-2"></i><span>Other Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="sitemap-settings">Sitemap</a></li>
                                        <li><a href="clear-cache-settings">Clear Cache</a></li>
                                        <li><a href="storage-settings">Storage</a></li>
                                        <li><a href="cronjob-settings">Cronjob</a></li>
                                        <li><a href="ban-ip-address-settings">Ban IP Address</a></li>
                                        <li><a href="system-backup-settings">System Backup</a></li>
                                        <li><a href="database-backup-settings">Database Backup</a></li>
                                        <li><a href="system-update">System Update</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Settings Sidebar -->

                <div class="card flex-fill mb-0 border-0 bg-light-500 shadow-none">
                    <div class="card-header border-bottom px-0 mx-3">
                        <h5 class="fw-bold">Prefixes</h5>
                    </div>
                    <div class="card-body px-0 mx-3">
                        <form action="profile-settings">

                            <!-- start row -->
                            <div class="row">
                                <div class="col-lg-6">

                                    <!-- start row -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-4">
                                            <label class="form-label mb-0">Doctor</label>
                                        </div><!-- end col -->
                                        <div class="col-lg-8">
                                            <div class="input-group d-flex align-items-center">
                                                <span class="input-group-text border-end-0 fs-14 bg-white pe-1">DOC -</span>
                                                <input type="text" class="form-control border-start-0 ps-0" aria-label="Username">
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div><!-- end col -->
                                <div class="col-lg-6">

                                    <!-- start row -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-4">
                                            <label class="form-label mb-0">Patient</label>
                                        </div><!-- end col -->
                                        <div class="col-lg-8">
                                            <div class="input-group d-flex align-items-center">
                                                <span class="input-group-text border-end-0 fs-14 bg-white pe-1">PNT -</span>
                                                <input type="text" class="form-control border-start-0 ps-0" aria-label="Username">
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div><!-- end col -->
                                <div class="col-lg-6">

                                    <!-- start row -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-4">
                                            <label class="form-label mb-0">Appointment</label>
                                        </div><!-- end col -->
                                        <div class="col-lg-8">
                                            <div class="input-group d-flex align-items-center">
                                                <span class="input-group-text border-end-0 fs-14 bg-white pe-1">APT -</span>
                                                <input type="text" class="form-control border-start-0 ps-0" aria-label="Username">
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div><!-- end col -->
                                <div class="col-lg-6">

                                    <!-- start row -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-4">
                                            <label class="form-label mb-0">Staff</label>
                                        </div><!-- end col -->
                                        <div class="col-lg-8">
                                            <div class="input-group d-flex align-items-center">
                                                <span class="input-group-text border-end-0 fs-14 bg-white pe-1">STF -</span>
                                                <input type="text" class="form-control border-start-0 ps-0" aria-label="Username">
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div><!-- end col -->
                                <div class="col-lg-6">

                                    <!-- start row -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-4">
                                            <label class="form-label mb-0">Visit</label>
                                        </div><!-- end col -->
                                        <div class="col-lg-8">
                                            <div class="input-group d-flex align-items-center">
                                                <span class="input-group-text border-end-0 fs-14 bg-white pe-1">VST -</span>
                                                <input type="text" class="form-control border-start-0 ps-0" aria-label="Username">
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div><!-- end col -->
                                <div class="col-lg-6">

                                    <!-- start row -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-4">
                                            <label class="form-label mb-0">Invoice</label>
                                        </div><!-- end col -->
                                        <div class="col-lg-8">
                                            <div class="input-group d-flex align-items-center">
                                                <span class="input-group-text border-end-0 fs-14 bg-white pe-1">INV -</span>
                                                <input type="text" class="form-control border-start-0 ps-0" aria-label="Username">
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div><!-- end col -->
                            </div>
                            <!-- end row -->

                            <div class="d-flex align-items-center justify-content-end">
                                <a href="javascript:void(0);" class="btn btn-light me-3">Cancel</a>
                                <a href="javascript:void(0);" class="btn btn-primary">Save Changes</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- end card body -->
    </div><!-- end card -->
                    
</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->