<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper auth-bg position-relative overflow-hidden">
      <%- include('../pages/'+page_path) %>
    </div>
    <!-- /Main Wrapper -->

    <%- include ('./script') %>
  </body>
</html>
