<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>

  <body>
    <!-- Main Wrapper -->
    <div class="<%= (active_path === routes.coming_soon || active_path === routes.under_maintenance) ? 'main-wrapper auth-bg' : 'main-wrapper auth-bg auth-bg-custom position-relative overflow-hidden' %>">
      <%- include('../auth/'+page_path) %>
    </div>
    <!-- /Main Wrapper -->

    <%- include ('./script') %>
  </body>
</html>
