
                                <div class="card-header border-bottom px-0 mx-3">
                                    <div class="d-flex">
                                        <h5 class="fw-bold">Clear Cache</h5>
                                    </div>
                                </div>
                                <div class="card-body px-0 mx-3">
                                    <p>Clearing the cache may improve performance but will remove temporary files, stored preferences, and cached data from websites and applications.</p>
                                    <a href="javascript:void(0);" class="btn btn-primary">Clear Cache</a>
                                </div><!-- end card body -->