<!-- Start Content -->
<div class="content" id="profilePage">

    <!-- Page Header -->
    <div class="mb-3 border-bottom pb-3">
        <h4 class="fw-bold mb-0">Settings</h4>
    </div>
    <!-- End Page Header -->

    <div class="card">
        <div class="card-body p-0">
            <div class="settings-wrapper d-flex">

                <!-- Start Settings Sidebar -->
                <div class="sidebars settings-sidebar" id="sidebar2">
                    <div class="sidebar-inner" data-simplebar>
                        <div id="sidebar-menu5" class="sidebar-menu mt-0 p-0">
                            <ul>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-user-cog me-2"></i><span>Account Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="profile-settings">Profile</a></li>
                                        <li><a href="security-settings">Security</a></li>
                                        <li><a href="notifications-settings">Notifications</a></li>
                                        <li><a href="integrations-settings">Integrations</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-world-cog me-2"></i><span>Website Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="organization-settings">Organization</a></li>
                                        <li><a href="localization-settings">Localization</a></li>
                                        <li><a href="prefixes-settings">Prefixes</a></li>
                                        <li><a href="seo-setup-settings">SEO Setup</a></li>
                                        <li><a href="language-settings">Language</a></li>
                                        <li><a href="maintenance-mode-settings">Maintenance Mode</a></li>
                                        <li><a href="login-and-register-settings">Login & Register</a></li>
                                        <li><a href="preferences-settings">Preferences</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="active">
                                        <i class="ti ti-building-hospital me-2"></i><span>Clinic Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="appointment-settings">Appointment</a></li>
                                        <li><a href="working-hours-settings" class="active">Working Hours</a></li>
                                        <li><a href="cancellation-reason-settings">Cancellation Reason</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-device-mobile-cog me-2"></i><span>App Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="invoice-settings">Invoice Settings</a></li>
                                        <li><a href="invoice-templates-settings">Invoice Templates</a></li>
                                        <li><a href="signatures-settings">Signatures</a></li>
                                        <li><a href="custom-fields-settings">Custom Fields</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-device-desktop-cog me-2"></i><span>System Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="email-settings">Email Settings</a></li>
                                        <li><a href="email-templates-settings">Email Templates</a></li>
                                        <li><a href="sms-gateways-settings">SMS Gateways</a></li>
                                        <li><a href="sms-templates-settings">SMS Templates</a></li>
                                        <li><a href="gdpr-cookies-settings">GDPR Cookies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-settings-dollar me-2"></i><span>Finance & Accounts</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="payment-methods-settings">Payment Methods</a></li>
                                        <li><a href="bank-accounts-settings">Bank Accounts</a></li>
                                        <li><a href="tax-rates-settings">Tax Rates</a></li>
                                        <li><a href="currencies-settings">Currencies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="ti ti-settings-2 me-2"></i><span>Other Settings</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="sitemap-settings">Sitemap</a></li>
                                        <li><a href="clear-cache-settings">Clear Cache</a></li>
                                        <li><a href="storage-settings">Storage</a></li>
                                        <li><a href="cronjob-settings">Cronjob</a></li>
                                        <li><a href="ban-ip-address-settings">Ban IP Address</a></li>
                                        <li><a href="system-backup-settings">System Backup</a></li>
                                        <li><a href="database-backup-settings">Database Backup</a></li>
                                        <li><a href="system-update">System Update</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Settings Sidebar -->

                <div class="card flex-fill mb-0 border-0 bg-light-500 shadow-none">
                    <div class="card-header border-bottom px-0 mx-3">
                        <div class="d-flex align-items-center">
                            <h5 class="fw-bold">Working Hours</h5>
                        </div>
                    </div>
                    <div class="card-body px-0 mx-3 break-hours-section" id="break-hours-section">
                        <div class="d-flex align-items-center justify-content-between pb-3 mb-3 border-bottom">
                            <h6 class="fs-14 fw-medium">Expected Productive Time<span class="text-danger ms-1">*</span></h6>
                            <div class="d-flex align-items-center">
                                <div class="input-icon-end position-relative me-2">
                                    <input type="text" class="form-control timepicker">
                                    <span class="input-icon-addon">
                                        <i class="ti ti-clock text-gray-7"></i>
                                    </span>
                                </div>
                                <span class="flex-shrink-0 align-items-center">Hours / Day</span>
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-bold mb-3">Working Days</h5>

                            <!-- start row -->
                                <div class="row align-items-center row-gap-2 pb-3 mb-3 border-bottom">
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" checked="" id="check1">
                                        <label for="check1" class="fw-normal">Monday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" checked="" id="check2">
                                        <label for="check2" class="fw-normal">Tuesday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" checked="" id="check3">
                                        <label for="check3" class="fw-normal">Wednesday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" checked="" id="check4">
                                        <label for="check4" class="fw-normal">Thursday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" checked="" id="check5">
                                        <label for="check5" class="fw-normal">Friday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" value="9:30 AM" class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" id="check6">
                                        <label for="check6" class="fw-normal">Saturday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" disabled class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" disabled class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input me-1" type="checkbox" id="check7">
                                        <label for="check7" class="fw-normal">Sunday</label>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="input-icon-end position-relative me-2">
                                            <input type="text" disabled class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                        <span class="text-dark me-2">to</span>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" disabled class="form-control timepicker">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-clock text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                </div>
                                <!-- end row -->

                                <div class=" pb-3 mb-3 border-bottom">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <h5 class="fw-bold">Break Hours</h5>
                                    <a href="javascript:void(0);" class="add-break"><i class="ti ti-plus me-1"></i>Add New</a>
                                </div>

                                <!-- start row -->
                                    <div class="row align-items-center row-gap-2 mb-3 break1">
                                    <div class="col-lg-6">
                                        <p class="text-dark fw-medium mb-0">Morning Break</p>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <div class="input-icon-end position-relative me-2">
                                                <input type="text" value="9:30 AM" class="form-control timepicker">
                                                <span class="input-icon-addon">
                                                    <i class="ti ti-clock text-gray-7"></i>
                                                </span>
                                            </div>
                                            <span class="text-dark me-2">to</span>
                                            <div class="input-icon-end position-relative me-2">
                                                <input type="text" value="9:30 AM" class="form-control timepicker">
                                                <span class="input-icon-addon">
                                                    <i class="ti ti-clock text-gray-7"></i>
                                                </span>
                                            </div>
                                            <a href="javascript:void(0);" class="btn btn-white p-2 border rounded-2 me-2"><i class="ti ti-edit"></i></a>
                                            <a href="javascript:void(0);" class="btn btn-white p-2 border rounded-2"><i class="ti ti-trash"></i></a>
                                        </div>
                                    </div><!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>

                                <div class=" pb-3 mb-3 border-bottom">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <h5 class="fw-bold">Lunch Hours</h5>
                                </div>

                                <!-- start row -->
                                    <div class="row align-items-center row-gap-2">
                                    <div class="col-lg-6">
                                        <p class="text-dark fw-medium mb-0">Lunch Break</p>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <select class="select">
                                                <option>Select</option>
                                                <option>15 Mins</option>
                                                <option>30 Mins</option>
                                                <option selected>45 Mins</option>
                                                <option>60 Mins</option>
                                            </select>
                                            <span class="text-dark flex-shrink-0 mx-2">Lunch at</span>
                                            <select class="select">
                                                <option>Select</option>
                                                <option>11 AM</option>
                                                <option selected>01:00 PM</option>
                                                <option>05:00 PM</option>
                                            </select>
                                        </div>
                                    </div><!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div>
                                
                                <div class="d-flex align-items-center justify-content-end">
                                <a href="javascript:void(0);" class="btn btn-light me-2">Cancel</a>
                                <a href="javascript:void(0);" class="btn btn-primary">Save Changes</a>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end card body -->
    </div><!-- end card -->
                    
</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->