
                                <div class="card-header border-bottom px-0 mx-3">
                                    <h5 class="fw-bold">Localization</h5>
                                </div>
                                <div class="card-body px-0 mx-3">
                                    <form>

                                        <!-- start row -->
                                        <div class="row border-bottom mb-3">
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                    <div class="col-lg-4">
                                                        <label class="form-label mb-0">Timezone </label>
                                                    </div><!-- end col -->
                                                    <div class="col-lg-8">
                                                        <mat-select class="custom-mat-select select" placeholder="Select">
                                                            <mat-option value="1">(+5:30) GMT</mat-option>
                                                            <mat-option value="1">(GMT -10:00) Hawaii</mat-option>
                                                            <mat-option value="1">(GMT -9:30) Taiohae</mat-option>
                                                            <mat-option value="1">(GMT -9:00) Alaska </mat-option>
                                                            <mat-option value="1">(GMT -8:00) Pacific Time, Canada</mat-option>
                                                        </mat-select>
                                                    </div><!-- end col -->
                                                </div>
                                                <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Start Week On</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">Monday</mat-option>
                                                        <mat-option value="1">Tuesday</mat-option>
                                                        <mat-option value="1">Wednesday</mat-option>
                                                        <mat-option value="1">Thursday</mat-option>
                                                        <mat-option value="1">Friday</mat-option>
                                                        <mat-option value="1">Saturday</mat-option>
                                                        <mat-option value="1">Sunday</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Date Format</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">18 Mar 2025</mat-option>
                                                        <mat-option value="1">Mar 18 2025</mat-option>
                                                        <mat-option value="1">2025 Mar 18</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Time Format</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">12 hrs</mat-option>
                                                        <mat-option value="1">24hrs</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Default Language</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">English</mat-option>
                                                        <mat-option value="1">German</mat-option>
                                                        <mat-option value="1">Arabic</mat-option>
                                                        <mat-option value="1">French</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Language Switcher</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <div class="form-check form-switch ps-0">
                                                        <input class="form-check-input m-0" type="checkbox" checked="">
                                                    </div>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <!-- start row -->
                                        <div class="row border-bottom mb-3">
                                            <div class="mb-3">
                                                <h5 class="fw-bold mb-0">Currency Information</h5>
                                            </div>
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                    <div class="col-lg-4">
                                                        <label class="form-label mb-0">Currency</label>
                                                    </div><!-- end col -->
                                                    <div class="col-lg-8">
                                                        <mat-select class="custom-mat-select select" placeholder="Select">
                                                            <mat-option value="1">USD</mat-option>
                                                            <mat-option value="1">Dollar</mat-option>
                                                            <mat-option value="1">Euro</mat-option>
                                                            <mat-option value="1">Pound</mat-option>
                                                            <mat-option value="1">Rupee</mat-option>
                                                        </mat-select>
                                                    </div><!-- end col -->
                                                </div>
                                                <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Currency Symbol</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">$</mat-option>
                                                        <mat-option value="1">₹</mat-option>
                                                        <mat-option value="1">£</mat-option>
                                                        <mat-option value="1">€</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Currency Position</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">$100</mat-option>
                                                        <mat-option value="1">100$</mat-option>
                                                        <mat-option value="1">$ 100</mat-option>
                                                        <mat-option value="1">100 $</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                <div class="col-lg-4">
                                                    <label class="form-label mb-0">Decimal Seperator</label>
                                                </div><!-- end col -->
                                                <div class="col-lg-8">
                                                    <mat-select class="custom-mat-select select" placeholder="Select">
                                                        <mat-option value="1">.</mat-option>
                                                        <mat-option value="1">,</mat-option>
                                                    </mat-select>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                            <div class="col-lg-6">

                                                <!-- start row -->
                                                <div class="row align-items-center mb-3">
                                                    <div class="col-lg-4">
                                                        <label class="form-label mb-0">Thousand Seperator</label>
                                                    </div><!-- end col -->
                                                    <div class="col-lg-8">
                                                        <mat-select class="custom-mat-select select" placeholder="Select">
                                                            <mat-option value="1">.</mat-option>
                                                            <mat-option value="1">,</mat-option>
                                                            <mat-option value="1">'</mat-option>
                                                        </mat-select>
                                                    </div><!-- end col -->
                                                </div>
                                            <!-- end row -->

                                            </div><!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <div class="d-flex align-items-center justify-content-end">
                                            <a href="javascript:void(0);" class="btn btn-light me-3">Cancel</a>
                                            <a href="javascript:void(0);" class="btn btn-primary">Save Changes</a>
                                        </div>
                                    </form>
                                </div>
