<!-- Start Content -->
<div class="content pb-0">

    <!-- Page Header -->
    <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 pb-3">
        <div class="flex-grow-1">
            <h4 class="fw-bold mb-0">Pe7 Icon</h4>
        </div>
        <div class="text-end">
            <ol class="breadcrumb m-0 py-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                
                <li class="breadcrumb-item"><a href="javascript: void(0);">Icons</a></li>
                
                <li class="breadcrumb-item active">Pe7 Icon</li>
            </ol>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- start row -->
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Pe7 Icon</div>
                </div> 
                <div class="card-body">
                    
                    <div class="icons-list">
                        <div class="icons-list-item">
                                <i class="pe-7s-album" data-bs-toggle="tooltip" title="pe-7s-album"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-arc" data-bs-toggle="tooltip" title="pe-7s-arc"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-back-2" data-bs-toggle="tooltip" title="pe-7s-back-2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-bandaid" data-bs-toggle="tooltip" title="pe-7s-bandaid"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-car" data-bs-toggle="tooltip" title="pe-7s-car"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-diamond" data-bs-toggle="tooltip" title="pe-7s-diamond"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-door-lock" data-bs-toggle="tooltip" title="pe-7s-door-lock"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-eyedropper" data-bs-toggle="tooltip" title="pe-7s-eyedropper"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-female" data-bs-toggle="tooltip" title="pe-7s-female"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-gym" data-bs-toggle="tooltip" title="pe-7s-gym"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-hammer" data-bs-toggle="tooltip" title="pe-7s-hammer"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-headphones" data-bs-toggle="tooltip" title="pe-7s-headphones"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-helm" data-bs-toggle="tooltip" title="pe-7s-helm"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-hourglass" data-bs-toggle="tooltip" title="pe-7s-hourglass"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-leaf" data-bs-toggle="tooltip" title="pe-7s-leaf"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-magic-wand" data-bs-toggle="tooltip" title="pe-7s-magic-wand"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-male" data-bs-toggle="tooltip" title="pe-7s-male"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-map-2" data-bs-toggle="tooltip" title="pe-7s-map-2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-next-2" data-bs-toggle="tooltip" title="pe-7s-next-2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-paint-bucket" data-bs-toggle="tooltip" title="pe-7s-paint-bucket"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-pendrive" data-bs-toggle="tooltip" title="pe-7s-pendrive"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-photo" data-bs-toggle="tooltip" title="pe-7s-photo"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-piggy" data-bs-toggle="tooltip" title="pe-7s-piggy"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-plugin" data-bs-toggle="tooltip" title="pe-7s-plugin"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-refresh-2" data-bs-toggle="tooltip" title="pe-7s-refresh-2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-rocket" data-bs-toggle="tooltip" title="pe-7s-rocket"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-settings" data-bs-toggle="tooltip" title="pe-7s-settings"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-shield" data-bs-toggle="tooltip" title="pe-7s-shield"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-smile" data-bs-toggle="tooltip" title="pe-7s-smile"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-usb" data-bs-toggle="tooltip" title="pe-7s-usb"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-vector" data-bs-toggle="tooltip" title="pe-7s-vector"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-wine" data-bs-toggle="tooltip" title="pe-7s-wine"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-cloud-upload" data-bs-toggle="tooltip" title="pe-7s-cloud-upload"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-cash" data-bs-toggle="tooltip" title="pe-7s-cash"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-close" data-bs-toggle="tooltip" title="pe-7s-close"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-bluetooth" data-bs-toggle="tooltip" title="pe-7s-bluetooth"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-cloud-download" data-bs-toggle="tooltip" title="pe-7s-cloud-download"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-way" data-bs-toggle="tooltip" title="pe-7s-way"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-close-circle" data-bs-toggle="tooltip" title="pe-7s-close-circle"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-id" data-bs-toggle="tooltip" title="pe-7s-id"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-up" data-bs-toggle="tooltip" title="pe-7s-angle-up"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-wristwatch" data-bs-toggle="tooltip" title="pe-7s-wristwatch"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-up-circle" data-bs-toggle="tooltip" title="pe-7s-angle-up-circle"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-world" data-bs-toggle="tooltip" title="pe-7s-world"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-right" data-bs-toggle="tooltip" title="pe-7s-angle-right"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-volume" data-bs-toggle="tooltip" title="pe-7s-volume"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-right-circle" data-bs-toggle="tooltip" title="pe-7s-angle-right-circle"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-users" data-bs-toggle="tooltip" title="pe-7s-users"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-left" data-bs-toggle="tooltip" title="pe-7s-angle-left"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-user-female" data-bs-toggle="tooltip" title="pe-7s-user-female"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-left-circle" data-bs-toggle="tooltip" title="pe-7s-angle-left-circle"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-up-arrow" data-bs-toggle="tooltip" title="pe-7s-up-arrow"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-down" data-bs-toggle="tooltip" title="pe-7s-angle-down"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-switch" data-bs-toggle="tooltip" title="pe-7s-switch"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-angle-down-circle" data-bs-toggle="tooltip" title="pe-7s-angle-down-circle"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-scissors" data-bs-toggle="tooltip" title="pe-7s-scissors"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-wallet" data-bs-toggle="tooltip" title="pe-7s-wallet"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-safe" data-bs-toggle="tooltip" title="pe-7s-safe"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-volume2" data-bs-toggle="tooltip" title="pe-7s-volume2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-volume1" data-bs-toggle="tooltip" title="pe-7s-volume1"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-voicemail" data-bs-toggle="tooltip" title="pe-7s-voicemail"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-video" data-bs-toggle="tooltip" title="pe-7s-video"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-user" data-bs-toggle="tooltip" title="pe-7s-user"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-upload" data-bs-toggle="tooltip" title="pe-7s-upload"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-unlock" data-bs-toggle="tooltip" title="pe-7s-unlock"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-umbrella" data-bs-toggle="tooltip" title="pe-7s-umbrella"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-trash" data-bs-toggle="tooltip" title="pe-7s-trash"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-tools" data-bs-toggle="tooltip" title="pe-7s-tools"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-timer" data-bs-toggle="tooltip" title="pe-7s-timer"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-ticket" data-bs-toggle="tooltip" title="pe-7s-ticket"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-target" data-bs-toggle="tooltip" title="pe-7s-target"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-sun" data-bs-toggle="tooltip" title="pe-7s-sun"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-study" data-bs-toggle="tooltip" title="pe-7s-study"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-stopwatch" data-bs-toggle="tooltip" title="pe-7s-stopwatch"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-star" data-bs-toggle="tooltip" title="pe-7s-star"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-speaker" data-bs-toggle="tooltip" title="pe-7s-speaker"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-signal" data-bs-toggle="tooltip" title="pe-7s-signal"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-shuffle" data-bs-toggle="tooltip" title="pe-7s-shuffle"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-shopbag" data-bs-toggle="tooltip" title="pe-7s-shopbag"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-share" data-bs-toggle="tooltip" title="pe-7s-share"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-server" data-bs-toggle="tooltip" title="pe-7s-server"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-search" data-bs-toggle="tooltip" title="pe-7s-search"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-film" data-bs-toggle="tooltip" title="pe-7s-film"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-science" data-bs-toggle="tooltip" title="pe-7s-science"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-disk" data-bs-toggle="tooltip" title="pe-7s-disk"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-ribbon" data-bs-toggle="tooltip" title="pe-7s-ribbon"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-repeat" data-bs-toggle="tooltip" title="pe-7s-repeat"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-refresh" data-bs-toggle="tooltip" title="pe-7s-refresh"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-add-user" data-bs-toggle="tooltip" title="pe-7s-add-user"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-refresh-cloud" data-bs-toggle="tooltip" title="pe-7s-refresh-cloud"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-paperclip" data-bs-toggle="tooltip" title="pe-7s-paperclip"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-radio" data-bs-toggle="tooltip" title="pe-7s-radio"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-note2" data-bs-toggle="tooltip" title="pe-7s-note2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-print" data-bs-toggle="tooltip" title="pe-7s-print"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-network" data-bs-toggle="tooltip" title="pe-7s-network"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-prev" data-bs-toggle="tooltip" title="pe-7s-prev"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-mute" data-bs-toggle="tooltip" title="pe-7s-mute"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-power" data-bs-toggle="tooltip" title="pe-7s-power"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-medal" data-bs-toggle="tooltip" title="pe-7s-medal"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-portfolio" data-bs-toggle="tooltip" title="pe-7s-portfolio"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-like2" data-bs-toggle="tooltip" title="pe-7s-like2"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-plus" data-bs-toggle="tooltip" title="pe-7s-plus"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-left-arrow" data-bs-toggle="tooltip" title="pe-7s-left-arrow"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-play" data-bs-toggle="tooltip" title="pe-7s-play"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-key" data-bs-toggle="tooltip" title="pe-7s-key"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-plane" data-bs-toggle="tooltip" title="pe-7s-plane"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-joy" data-bs-toggle="tooltip" title="pe-7s-joy"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-photo-gallery" data-bs-toggle="tooltip" title="pe-7s-photo-gallery"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-pin" data-bs-toggle="tooltip" title="pe-7s-pin"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-phone" data-bs-toggle="tooltip" title="pe-7s-phone"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-plug" data-bs-toggle="tooltip" title="pe-7s-plug"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-pen" data-bs-toggle="tooltip" title="pe-7s-pen"></i>
                            </div>
                        <div class="icons-list-item">
                                <i class="pe-7s-right-arrow" data-bs-toggle="tooltip" title="pe-7s-right-arrow"></i>
                        </div>
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

    </div>
    <!-- end row -->
</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->