<!-- Start Content -->
<div class="content pb-0">

    <!-- Page Header -->
    <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 pb-3">
        <div class="flex-grow-1">
            <h4 class="fw-bold mb-0">Fontawesome Icon</h4>
        </div>
        <div class="text-end">
            <ol class="breadcrumb m-0 py-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                
                <li class="breadcrumb-item"><a href="javascript: void(0);">Icons</a></li>
                
                <li class="breadcrumb-item active">Fontawesome Icon</li>
            </ol>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- start row -->
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Fontawesome Icon</div>
                </div>
                <div class="card-body">
                    
                    <div class="icons-list">
                        <div class="icons-list-item">
                            <i class="fa fa-address-book" data-bs-toggle="tooltip" title="fa fa-address-book"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-address-card" data-bs-toggle="tooltip" title="fa fa-address-card"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-align-center" data-bs-toggle="tooltip" title="fa fa-align-center"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-align-justify" data-bs-toggle="tooltip" title="fa fa-align-justify"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-align-left" data-bs-toggle="tooltip" title="fa fa-align-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-align-right" data-bs-toggle="tooltip" title="fa fa-align-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-ambulance" data-bs-toggle="tooltip" title="fa fa-ambulance"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-american-sign-language-interpreting" data-bs-toggle="tooltip" title="fa fa-american-sign-language-interpreting"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-anchor" data-bs-toggle="tooltip" title="fa fa-anchor"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-double-down" data-bs-toggle="tooltip" title="fa fa-angle-double-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-double-left" data-bs-toggle="tooltip" title="fa fa-angle-double-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-double-right" data-bs-toggle="tooltip" title="fa fa-angle-double-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-double-up" data-bs-toggle="tooltip" title="fa fa-angle-double-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-down" data-bs-toggle="tooltip" title="fa fa-angle-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-left" data-bs-toggle="tooltip" title="fa fa-angle-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-right" data-bs-toggle="tooltip" title="fa fa-angle-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-angle-up" data-bs-toggle="tooltip" title="fa fa-angle-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fab fa-apple" data-bs-toggle="tooltip" title="fab fa-apple"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-archive" data-bs-toggle="tooltip" title="fa fa-archive"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fas fa-chart-area" data-bs-toggle="tooltip" title="fas fa-chart-area"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-circle-down" data-bs-toggle="tooltip" title="fa fa-arrow-circle-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-circle-left" data-bs-toggle="tooltip" title="fa fa-arrow-circle-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-circle-right" data-bs-toggle="tooltip" title="fa fa-arrow-circle-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-circle-up" data-bs-toggle="tooltip" title="fa fa-arrow-circle-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-down" data-bs-toggle="tooltip" title="fa fa-arrow-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-left" data-bs-toggle="tooltip" title="fa fa-arrow-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-right" data-bs-toggle="tooltip" title="fa fa-arrow-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrow-up" data-bs-toggle="tooltip" title="fa fa-arrow-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-arrows-alt" data-bs-toggle="tooltip" title="fa fa-arrows-alt"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-assistive-listening-systems" data-bs-toggle="tooltip" title="fa fa-assistive-listening-systems"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-asterisk" data-bs-toggle="tooltip" title="fa fa-asterisk"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-at" data-bs-toggle="tooltip" title="fa fa-at"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-audio-description" data-bs-toggle="tooltip" title="fa fa-audio-description"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-backward" data-bs-toggle="tooltip" title="fa fa-backward"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-balance-scale" data-bs-toggle="tooltip" title="fa fa-balance-scale"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-ban" data-bs-toggle="tooltip" title="fa fa-ban"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-barcode" data-bs-toggle="tooltip" title="fa fa-barcode"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bars" data-bs-toggle="tooltip" title="fa fa-bars"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bath" data-bs-toggle="tooltip" title="fa fa-bath"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-battery-empty" data-bs-toggle="tooltip" title="fa fa-battery-empty"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-battery-full" data-bs-toggle="tooltip" title="fa fa-battery-full"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-battery-half" data-bs-toggle="tooltip" title="fa fa-battery-half"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-battery-quarter" data-bs-toggle="tooltip" title="fa fa-battery-quarter"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-battery-three-quarters" data-bs-toggle="tooltip" title="fa fa-battery-three-quarters"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bed" data-bs-toggle="tooltip" title="fa fa-bed"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-beer" data-bs-toggle="tooltip" title="fa fa-beer"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bell" data-bs-toggle="tooltip" title="fa fa-bell"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bell-slash" data-bs-toggle="tooltip" title="fa fa-bell-slash"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bicycle" data-bs-toggle="tooltip" title="fa fa-bicycle"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-binoculars" data-bs-toggle="tooltip" title="fa fa-binoculars"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-birthday-cake" data-bs-toggle="tooltip" title="fa fa-birthday-cake"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-blind" data-bs-toggle="tooltip" title="fa fa-blind"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bold" data-bs-toggle="tooltip" title="fa fa-bold"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bolt" data-bs-toggle="tooltip" title="fa fa-bolt"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bomb" data-bs-toggle="tooltip" title="fa fa-bomb"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-book" data-bs-toggle="tooltip" title="fa fa-book"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bookmark" data-bs-toggle="tooltip" title="fa fa-bookmark"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-braille" data-bs-toggle="tooltip" title="fa fa-braille"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-briefcase" data-bs-toggle="tooltip" title="fa fa-briefcase"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bug" data-bs-toggle="tooltip" title="fa fa-bug"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-building" data-bs-toggle="tooltip" title="fa fa-building"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bullhorn" data-bs-toggle="tooltip" title="fa fa-bullhorn"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bullseye" data-bs-toggle="tooltip" title="fa fa-bullseye"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-bus" data-bs-toggle="tooltip" title="fa fa-bus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-calculator" data-bs-toggle="tooltip" title="fa fa-calculator"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-calendar" data-bs-toggle="tooltip" title="fa fa-calendar"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-camera" data-bs-toggle="tooltip" title="fa fa-camera"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-camera-retro" data-bs-toggle="tooltip" title="fa fa-camera-retro"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-car" data-bs-toggle="tooltip" title="fa fa-car"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-caret-down" data-bs-toggle="tooltip" title="fa fa-caret-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-caret-left" data-bs-toggle="tooltip" title="fa fa-caret-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-caret-right" data-bs-toggle="tooltip" title="fa fa-caret-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-cart-arrow-down" data-bs-toggle="tooltip" title="fa fa-cart-arrow-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-cart-plus" data-bs-toggle="tooltip" title="fa fa-cart-plus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-certificate" data-bs-toggle="tooltip" title="fa fa-certificate"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-check" data-bs-toggle="tooltip" title="fa fa-check"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-check-circle" data-bs-toggle="tooltip" title="fa fa-check-circle"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-circle-left" data-bs-toggle="tooltip" title="fa fa-chevron-circle-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-circle-right" data-bs-toggle="tooltip" title="fa fa-chevron-circle-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-circle-up" data-bs-toggle="tooltip" title="fa fa-chevron-circle-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-down" data-bs-toggle="tooltip" title="fa fa-chevron-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-left" data-bs-toggle="tooltip" title="fa fa-chevron-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-right" data-bs-toggle="tooltip" title="fa fa-chevron-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-chevron-up" data-bs-toggle="tooltip" title="fa fa-chevron-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-child" data-bs-toggle="tooltip" title="fa fa-child"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-circle" data-bs-toggle="tooltip" title="fa fa-circle"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-clipboard" data-bs-toggle="tooltip" title="fa fa-clipboard"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-clone" data-bs-toggle="tooltip" title="fa fa-clone"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-cloud" data-bs-toggle="tooltip" title="fa fa-cloud"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-code" data-bs-toggle="tooltip" title="fa fa-code"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-coffee" data-bs-toggle="tooltip" title="fa fa-coffee"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-cog" data-bs-toggle="tooltip" title="fa fa-cog"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-cogs" data-bs-toggle="tooltip" title="fa fa-cogs"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-columns" data-bs-toggle="tooltip" title="fa fa-columns"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-comment" data-bs-toggle="tooltip" title="fa fa-comment"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-compress" data-bs-toggle="tooltip" title="fa fa-compress"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-copyright" data-bs-toggle="tooltip" title="fa fa-copyright"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-credit-card" data-bs-toggle="tooltip" title="fa fa-credit-card"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-desktop" data-bs-toggle="tooltip" title="fa fa-desktop"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-edit" data-bs-toggle="tooltip" title="fa fa-edit"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="fa fa-eject" data-bs-toggle="tooltip" title="fa fa-eject"></i>
                        </div>
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

    </div>
    <!-- end row -->

</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->