<!-- Start Content -->
<div class="content pb-0">

    <!-- Page Header -->
    <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 pb-3">
        <div class="flex-grow-1">
            <h4 class="fw-bold mb-0">Material Icon</h4>
        </div>
        <div class="text-end">
            <ol class="breadcrumb m-0 py-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                
                <li class="breadcrumb-item"><a href="javascript: void(0);">Icons</a></li>
                
                <li class="breadcrumb-item active">Material Icon</li>
            </ol>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- start row -->
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Material Icons</div>
                </div> 
                <div class="card-body">
                    
                    <div class="icons-list">
                        <div class="icons-list-item">
                            <i class="mdi mdi-access-point" data-bs-toggle="tooltip" title="mdi-access-point"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-access-point-network" data-bs-toggle="tooltip" title="mdi-access-point-network"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account" data-bs-toggle="tooltip" title="mdi-account"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-alert" data-bs-toggle="tooltip" title="mdi-account-alert"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-box" data-bs-toggle="tooltip" title="mdi-account-box"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-box-outline" data-bs-toggle="tooltip" title="mdi-account-box-outline"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-card-details" data-bs-toggle="tooltip" title="mdi-account-card-details"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-check" data-bs-toggle="tooltip" title="mdi-account-check"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-circle" data-bs-toggle="tooltip" title="mdi-account-circle"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-convert" data-bs-toggle="tooltip" title="mdi-account-convert"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-edit" data-bs-toggle="tooltip" title="mdi-account-edit"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-key" data-bs-toggle="tooltip" title="mdi-account-key"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-location" data-bs-toggle="tooltip" title="mdi-account-location"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-minus" data-bs-toggle="tooltip" title="mdi-account-minus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-multiple" data-bs-toggle="tooltip" title="mdi-account-multiple"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-multiple-minus" data-bs-toggle="tooltip" title="mdi-account-multiple-minus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-multiple-outline" data-bs-toggle="tooltip" title="mdi-account-multiple-outline"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-multiple-plus" data-bs-toggle="tooltip" title="mdi-account-multiple-plus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-network" data-bs-toggle="tooltip" title="mdi-account-network"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-off" data-bs-toggle="tooltip" title="mdi-account-off"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-outline" data-bs-toggle="tooltip" title="mdi-account-outline"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-plus" data-bs-toggle="tooltip" title="mdi-account-plus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-remove" data-bs-toggle="tooltip" title="mdi-account-remove"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-search" data-bs-toggle="tooltip" title="mdi-account-search"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-settings" data-bs-toggle="tooltip" title="mdi-account-settings"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-settings-variant" data-bs-toggle="tooltip" title="mdi-account-settings-variant"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-star" data-bs-toggle="tooltip" title="mdi-account-star"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-account-switch" data-bs-toggle="tooltip" title="mdi-account-switch"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-adjust" data-bs-toggle="tooltip" title="mdi-adjust"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-air-conditioner" data-bs-toggle="tooltip" title="mdi-air-conditioner"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-airballoon" data-bs-toggle="tooltip" title="mdi-airballoon"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-airplane" data-bs-toggle="tooltip" title="mdi-airplane"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-airplane-landing" data-bs-toggle="tooltip" title="mdi-airplane-landing"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-airplane-off" data-bs-toggle="tooltip" title="mdi-airplane-off"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-airplane-takeoff" data-bs-toggle="tooltip" title="mdi-airplane-takeoff"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-airplay" data-bs-toggle="tooltip" title="mdi-airplay"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm" data-bs-toggle="tooltip" title="mdi-alarm"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-bell" data-bs-toggle="tooltip" title="mdi-alarm-bell"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-check" data-bs-toggle="tooltip" title="mdi-alarm-check"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-light" data-bs-toggle="tooltip" title="mdi-alarm-light"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-multiple" data-bs-toggle="tooltip" title="mdi-alarm-multiple"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-off" data-bs-toggle="tooltip" title="mdi-alarm-off"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-plus" data-bs-toggle="tooltip" title="mdi-alarm-plus"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alarm-snooze" data-bs-toggle="tooltip" title="mdi-alarm-snooze"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-album" data-bs-toggle="tooltip" title="mdi-album"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert" data-bs-toggle="tooltip" title="mdi-alert"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-box" data-bs-toggle="tooltip" title="mdi-alert-box"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-circle" data-bs-toggle="tooltip" title="mdi-alert-circle"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-circle-outline" data-bs-toggle="tooltip" title="mdi-alert-circle-outline"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-decagram" data-bs-toggle="tooltip" title="mdi-alert-decagram"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-octagon" data-bs-toggle="tooltip" title="mdi-alert-octagon"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-octagram" data-bs-toggle="tooltip" title="mdi-alert-octagram"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alert-outline" data-bs-toggle="tooltip" title="mdi-alert-outline"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-all-inclusive" data-bs-toggle="tooltip" title="mdi-all-inclusive"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alpha" data-bs-toggle="tooltip" title="mdi-alpha"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-alphabetical" data-bs-toggle="tooltip" title="mdi-alphabetical"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-altimeter" data-bs-toggle="tooltip" title="mdi-altimeter"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-amazon" data-bs-toggle="tooltip" title="mdi-amazon"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-amazon-clouddrive" data-bs-toggle="tooltip" title="mdi-amazon-clouddrive"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-ambulance" data-bs-toggle="tooltip" title="mdi-ambulance"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-amplifier" data-bs-toggle="tooltip" title="mdi-amplifier"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-anchor" data-bs-toggle="tooltip" title="mdi-anchor"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-android" data-bs-toggle="tooltip" title="mdi-android"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-android-debug-bridge" data-bs-toggle="tooltip" title="mdi-android-debug-bridge"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-android-head" data-bs-toggle="tooltip" title="mdi-android-head"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-android-studio" data-bs-toggle="tooltip" title="mdi-android-studio"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-angular" data-bs-toggle="tooltip" title="mdi-angular"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-angularjs" data-bs-toggle="tooltip" title="mdi-angularjs"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-animation" data-bs-toggle="tooltip" title="mdi-animation"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple" data-bs-toggle="tooltip" title="mdi-apple"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-finder" data-bs-toggle="tooltip" title="mdi-apple-finder"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-ios" data-bs-toggle="tooltip" title="mdi-apple-ios"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-keyboard-caps" data-bs-toggle="tooltip" title="mdi-apple-keyboard-caps"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-keyboard-command" data-bs-toggle="tooltip" title="mdi-apple-keyboard-command"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-keyboard-control" data-bs-toggle="tooltip" title="mdi-apple-keyboard-control"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-keyboard-option" data-bs-toggle="tooltip" title="mdi-apple-keyboard-option"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-keyboard-shift" data-bs-toggle="tooltip" title="mdi-apple-keyboard-shift"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-mobileme" data-bs-toggle="tooltip" title="mdi-apple-mobileme"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apple-safari" data-bs-toggle="tooltip" title="mdi-apple-safari"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-application" data-bs-toggle="tooltip" title="mdi-application"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-approval" data-bs-toggle="tooltip" title="mdi-approval"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-apps" data-bs-toggle="tooltip" title="mdi-apps"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-archive" data-bs-toggle="tooltip" title="mdi-archive"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrange-bring-forward" data-bs-toggle="tooltip" title="mdi-arrange-bring-forward"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrange-send-to-back" data-bs-toggle="tooltip" title="mdi-arrange-send-to-back"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrange-bring-to-front" data-bs-toggle="tooltip" title="mdi-arrange-bring-to-front"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrange-send-backward" data-bs-toggle="tooltip" title="mdi-arrange-send-backward"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-all" data-bs-toggle="tooltip" title="mdi-arrow-all"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-bottom-left" data-bs-toggle="tooltip" title="mdi-arrow-bottom-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-bottom-right" data-bs-toggle="tooltip" title="mdi-arrow-bottom-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-collapse" data-bs-toggle="tooltip" title="mdi-arrow-collapse"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-collapse-all" data-bs-toggle="tooltip" title="mdi-arrow-collapse-all"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-collapse-down" data-bs-toggle="tooltip" title="mdi-arrow-collapse-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-collapse-left" data-bs-toggle="tooltip" title="mdi-arrow-collapse-left"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-collapse-right" data-bs-toggle="tooltip" title="mdi-arrow-collapse-right"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-collapse-up" data-bs-toggle="tooltip" title="mdi-arrow-collapse-up"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-down" data-bs-toggle="tooltip" title="mdi-arrow-down"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-down-bold" data-bs-toggle="tooltip" title="mdi-arrow-down-bold"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-down-bold-box" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-box"></i>
                        </div>
                        <div class="icons-list-item">
                            <i class="mdi mdi-arrow-down-bold-box-outline" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-box-outline"></i>
                        </div>
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
        
    </div>
    <!-- end row -->

</div>
<!-- End Content -->

<!-- Footer Start -->
<div class="footer text-center bg-white p-2 border-top">
    <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Preclinic</a>, All Rights Reserved</p>
</div>
<!-- Footer End -->